/* .customDiv:hover .customButton{
    display: block;
} */

/* https://i.ibb.co/gMgyygN/invictus-tailoring-sneaker-socks-5-OZg-Vj0-YVw-Q-unsplash.jpg */

/* https://i.ibb.co/42k2X5X/joanna-kosinska-9gf-GDbxuqr-U-unsplash.jpg */
/* https://i.ibb.co/ZgbLdGh/joanna-kosinska-u-Gc-DWKN91-Fs-unsplash.jpg */
/* https://i.ibb.co/nb2d8TN/kristina-evstifeeva-y3h6gh2fpa-I-unsplash.jpg */

.template{
    background-image: linear-gradient(
        rgba(26, 27, 26, 0.76),
        rgba(182, 237, 196, 0.201)
    ),url(https://i.ibb.co/gMgyygN/invictus-tailoring-sneaker-socks-5-OZg-Vj0-YVw-Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.templateContainer{
    cursor: pointer;
    position: relative;
}
.templateButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: rgb(246, 253, 246);
    bottom: 0;
    height: 0;
    opacity: 0;
    transition: .5s ease;
}

.templateImage{
    transition: .5s ease;
}

.templateContainer:hover .templateButton{
    height: 35%;
    opacity: 1;
}
.templateContainer:hover .templateImage{
    opacity: .5;
}
