 .resume6{
    max-width: 600px;
    height: auto;
    display: flex;
    position: relative;
}
.resume-header6{
    width: 1000px;
    height: 200px;
    background-color: rgb(3, 3, 80);
    position: absolute;
}
.header-text6{
    margin-top: 70px;
}
.resume-title6{
    color: #eee;
    text-align: center;
    font-weight: normal;
    letter-spacing: 10px;
}
.resume-title6-2{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.left-side6{
    width: 350px;
    background-color: gainsboro;
    padding: 220px 30px;
}
.left-side6 li{
    list-style: none;
    color: rgb(45, 44, 44);
} 
.icon6-1{
    color: rgb(122, 120, 120);
    font-size: 20px;
}
.resume-info6 ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.resume-education6 ul li{
    gap: 10px;
    margin-top: 10px;
}
.resume-skills6 ul li{
    gap: 10px;
    margin-top: 10px;
}
.resume-education6, .resume-skills6{
    margin-top: 20px;
}
.right-site6{
    width: 700px;
    height: auto;
    background-color: #fff;
    padding: 220px 30px;
}
.instagram6{
    margin-top: 10px;
}
.text6{
    margin-top: 5px;
    margin-bottom: 3px;
}
.experience-title6 ul li{
    margin-bottom: 10px;
}
.intern6{
    margin-top: 50px;
}
.text6-1{
    margin-top: 5px;
    margin-bottom: 3px;
}
.intern-title6 ul li{
    margin-bottom: 10px;
}
.barista6{
    margin-top: 50px;
}
.text6-2{
    margin-top: 5px;
    margin-bottom: 3px;
}
.barista-title6 ul li{
    margin-bottom: 10px;
}
/* @media screen and (max-width: 720px){
    .resume6{
        width: 300px;
    }
    .resume-header6{
        width: 100%;
    }
} */