*{
    margin: 0;
    padding: 0;
}
.bold4{
    font-size: 15px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
}
.resume4{
    max-width: 600px;
    display: flex;
    margin: 60px;
}
.content4 li{
    list-style: none;
}
.left-site4{
    width: 350px;
    background-color: rgb(70, 70, 70);
    padding: 25px 25px;
}
.profile4 img{
    width: 100%;
    height: 100%;
}
.left-site4 ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon4{
    position: relative;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    color: #0bb5f4;
    margin-right: 15px;
    font-size: 15px;
}
.icon4-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.date4{
    color: #c0d8e1;
}
.resume-skills4 ul li{
    color: #c0d8e1;
    justify-content: space-between;
}
.skill-name4{
    width: 25%;
}
.skill-progress4{
    width: 40%;
    margin: 0 5px;
    height: 5px;
    background-color: antiquewhite;
    position: relative;
}
.skill-per4{
    width: 15%;
}
.progress4-1{
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-2{
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-3{
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-4{
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-5{
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-6{
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.progress4-7{
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0bb5f4;
    position: absolute;
}
.right-ite4{
    width: 650px;
    background-color: #fff;
    padding: 0 25px;

}
.bold4-2{
    color: #0bb5f4;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 20px;
}
.resume-item4-2{
    padding: 20px;
    border-bottom: 2px solid #0bb5f4;

}
.resume-item4-2:last-child{
    border: none;
}
.exerience4{
    display: flex;
    margin-bottom: 20px;
}
.resume-exerience4 li{
    list-style: none;
}
.semi-bol4{
    width: 500px;
    margin-left: 20px;
}
.resume-education4 li{
    list-style: none;
}
.title4-3{
    color: #0d9fd4;
}
.info4-3{
    margin-bottom: 15px;
}
.resume-hobby4 ul{
    display: flex;
}
.resume-hobby4 li{
 list-style: none;
 margin: auto;
}
/* @media screen and (max-width: 720px){
    .resume4{
        width: 300px;
        height: 100%;
    }
} */