/* linkedin btn style */

.linkedin-btn:hover {
  background-color: #0a66c2;
  transition: 0.6s;
}
.linkedin-btn:hover .logo {
  color: #fff;
  transition: 0.6s;
}
.linkedin-btn:hover .text {
  color: #fff;
  transition: 0.6s;
}

/* google btn style */
.google-btn:hover {
  background-color: #dd4b39;
  transition: 0.6s;
}
.google-btn:hover .logo {
  color: #fff;
  transition: 0.6s;
}
.google-btn:hover .text {
  color: #fff;
  transition: 0.6s;
}

/* github btn style */

.github-btn:hover {
  background-color: #24292f;
  transition: 0.6s;
}
.github-btn:hover .logo {
  color: #fff;
  transition: 0.6s;
}
.github-btn:hover .text {
  color: #fff;
  transition: 0.6s;
}

/* signup */

.signup-text {
  font-size: 18px;
  line-height: 20px;
  margin-left: 9px;
  font-weight: 500;
}
