.input-container {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff34;
}
.input-container input {
  width: 50%;
  height: 40px;
  color: white;
  color: black;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 100px;
}
button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a86f3;
  border: none;
}
